<h2>Katriina</h2>
<p>Hei! Nimeni on <strong> <i>Katriina </i> </strong>. Opettelen juuri koodaamista.Olen osallistunut Rails Girls Helsinkiin. Mahtava workshop!</p>
<a href="https://twitter.com/KatriinaL"> See my Twitter profile! </a>
